# Main Projet Settings
Stargaze.xcworkspace/xcuserdata/
Stargaze.xcodeproj/xcuserdata/
*/xcuserdata/
xcuserdata


# Folders
*.DS_Store

# Frameworks

Frameworks/*/.swiftpm

# Project
Stargaze.xcodeproj/project.xcworkspace/xcuserdata/
